Package: com.kaneb.microplayer12
Name: MicroPlayer12
Depends: mobilesubstrate, com.kaneb.kbpreferences, com.kaneb.kbapplist
Version: 0.0.9
Architecture: iphoneos-arm
Description: SystemWide + HomeScreen music controls!
Maintainer: Kane Buckthorpe
Author: Kane Buckthorpe
Section: Tweaks
